# Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn

In [ ]:
| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| RStudio            |
| Apache Spark       |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335